.todoFormContainer {
    margin-bottom: 30px;
}
.todoFormContainer form {
    display: flex;
    align-items: center;
    justify-content: left;
}

.todoFormContainer input {
    width: 50%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .todoFormContainer {
        font-size: 10px;
        width: 100%;
    }
}

.headerChoosenData {
    color: darkblue;
    background-color: lightyellow;
    font-size: 30px;
    border-radius: 10px;
    width: 450px;
}

@media screen and (max-width: 600px) {
    .headerChoosenData {
        font-size: 25px;
        width: 400px;
    }
}
